@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet');

body{
    font-family:'Montserrat',sans-serif;
    
}
   


.ui.containerpage
{
    background: red;
    width:1400px;
    margin-left:60px;
    height:400px;
}
.ui.containergreypage
{
    background: #F7F7F7;
    width:1400px;
   
    height:800px;
}

.ui.input
{
    width:350px;
    margin-left:950px;
    text-align:right;
    border-radius:0;
}

.ui.bannerimage
{
    
    width:1400px;
    max-height:440px;
  
}  
